@import '../../../styles/scss/conf';

.container {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  overflow: hidden;

  padding: 10rem 0 16rem 0;


  .content {
    @include margin-page;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    .texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 600px;


      div {
        margin-top: 3rem;

        p {
          letter-spacing: 0.1rem;
          line-height: 1.6rem;
          margin-top: 1rem;
        }
      }
    }

    .imgDesktop {
      position: absolute;
      top: -40%;
      left: 55%;
    }

    .imgMobile {
      display: none;
      visibility: hidden;
    }
  }

  @media #{$BREAKPOINT-MOBILE} {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 2rem 0;

    h2 {
      margin-bottom: 2rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .imgDesktop {
        display: none;
        visibility: hidden;
      }

      .imgMobile {
        display: flex;
        visibility: visible;
      }

      .texts {
        width: auto;
      }
    }
  }

  @media #{$BREAKPOINT-MOBILE} {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 2rem 0;

    h2 {
      margin-bottom: 2rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;

      .imgDesktop {
        display: none;
        visibility: hidden;
      }

      .imgMobile {
        display: flex;
        visibility: visible;
      }

      .texts {
        width: auto;
      }
    }
  }
}
