.button {
  height: 3rem;
  width: 8.5rem;

  border: none;
  border-radius: 2rem;

  font: 500 1rem 'Ubuntu';
  color: var(--light-red);

  transition: all .2s;

  &:hover {
    background: var(--very-light-red);
    cursor: pointer;
    color: var(--white);
  }
}
